@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}
header{
    background-color:black;
}
.cabecalho h2{
    color: white;
}
.cabecalho h1{
    color: white;
}
.cabecalho p{
    color: white;
}
.cabecalho strong{
    color: #1987d2;
}