@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}
header{
    background-color:rgba(0, 0, 0, 0.904);
    padding: 3%;
    
}
.cabecalho{
    display: flex;
}
.primeira-sessao{
    padding: 5%;
    width: 100%;
}
.segunda-sessao{
    padding: 5%;
    float: right;
    width: 100%;
   
}
h2{
    color: white;
    font-family: cursive;
    font-size: 20px;
}
.cabecalho h1{
    color: white;
}
.cabecalho p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.cabecalho strong{
    color: #1987d2;
}